<%- include("./partials/header") %>

<body>
    <div class="container">
        <div class="row mt-5">
                <form action="/" method="POST">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nom/Prénom</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < users.length; i++) { %>
                            <tr>
                                <td><%= users[i].nom.toUpperCase() %> <%= users[i].prenom %></td>
                                <td><%= users[i].email %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </form>
        </div>
    </div>
</body>